#tabela{
    width: 400px;
    height: 400px;
    border: solid 1px #000000;
}

.linha{
    height: 200px;
}

.coluna{
    width: 200px;
    border: solid 1px #000000;
}

/*
 Também poderiamos estilizar a tabela usando a hierarquia dos elmentos

#tabela tr{
    
}

#tabela tr td{
    
}
*/

#caixaPrincipal{
    width: 410px; /*402*/
    height: 400px;/*402*/
    border: solid 1px #000000;
    background-color: firebrick;
}

.caixa{
    width: 200px; /*202*/ 
    height: 200px;/*202*/
    border: solid 1px #ffffff;
    float: left; /*Permite deixar elementos na horizontal (lado a lado)*/
}

/*
.caixa2{
    width: 200px;
    height: 200px;
    border: solid 1px #ffffff;
    clear: both;
    float: right;
    background-color: aquamarine;
}
*/












